# EditorConfig помогает разработчикам определять и поддерживать
# соглашения по стилю кода между различными редакторами и IDE
# editorconfig.org

root = true

[*]
# Измените эти настройки согласно вашим предпочтениям
indent_style = space
indent_size = 2
max_line_length = 250

# Рекомендуем сохранить эти настройки неизменными
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.php]
# Стандарт кодирования применим ко всему php-коду в рамках проекта UMI.CMS 3.x
indent_size = 4
indent_style = space
max_line_length = 140
trim_trailing_whitespace = true
insert_final_newline = true